.navigation-container {
  width: 93.9rem;
  margin-left: 24rem;
  height: 70px;
  box-shadow: 0 4px 8px rgba(149, 145, 145, 0.3);
  position:relative; 
  
}

.navigation-header {
  color: #269577;
  margin-left: 6rem;
  text-align: center;
}

.username-display {
  margin-left: auto;
  padding: 10px;
}

.username-text {
  font-weight: bold;
  color: #333;
}
