.product-grid {
  display: flex;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 28rem;
}

.product-card {
  border: 1px solid #269577;
  background-color: white;
  margin-left: 1rem;
  margin-top: 2rem;
  width: 20rem;
}

.product-image {
  margin-left: 1rem;
  margin-top: 1rem;
  width: 18rem;
  height: 20rem;
  object-fit: cover;
  
}

.product-description {
  color: #269577;
  text-align: center;
}

.product-price {
  color: #269577;
  text-align: center;
}
