.left-column {
  width: 25rem;
  height: 70rem;
  margin-top: -10rem;
  margin-left: -1rem;
  background: #269577;
  position: fixed;
}

.home-element {
  color: white;
  top: 10rem;
  width: 400px;
  height: 80px;
  font-weight: 600;
  font-size: larger;
  position: absolute;
  margin-left: 1.5rem;
  padding: 10px 0 0 0;
  gap: 10px;
  border-radius: 4px 0 0 0;
  opacity: 1;
  display: flex;
  align-items: center;
}

.products-element {
  color: white;
  top: 14rem;
  width: 400px;
  height: 80px;
  font-weight: 600;
  font-size: larger;
  position: absolute;
  margin-left: 1.5rem;
  padding: 10px 0 0 0;
  gap: 10px;
  display: flex;
  align-items: center;
}

.sales-element {
  color: white;
  top: 18rem;
  width: 400px;
  height: 80px;
  font-weight: 600;
  font-size: larger;
  position: absolute;
  margin-left: 1.5rem;
  padding: 10px 0 0 0;
  gap: 10px;
  display: flex;
  align-items: center;
}

.management-element {
  color: white;
  top: 22rem;
  width: 400px;
  height: 80px;
  font-weight: 600;
  font-size: larger;
  position: absolute;
  margin-left: 1.5rem;
  padding: 10px 0 0 0;
  gap: 10px;
  display: flex;
  align-items: center;
}

.logout-element {
  color: white;
  width: 360px;
  position: absolute;
  top: 58rem;
  margin-left: 1.5rem;
  padding: 10px 0 0 0;
  gap: 10px;
  display: flex;
  align-items: center;
  border-radius: 4px 0 0 0;
}

.logout-text {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  cursor: pointer;
}
