.sales-table {
  margin-top: 4rem;
  margin-left: 30rem;
  width: 80rem;
  background-color: #f8f8ff;
  border-collapse: collapse;
  border: 2px solid #269577;
}

.sales-table-header {
  color: white;
  background-color: #269577;
}

.sales-table-header th {
  border-right: 1px solid #269577;
  border-left: 1px solid #269577;
  padding: 10px;
}

.sales-table td {
  border-right: 1px solid #269577;
  border-left: 1px solid #269577;
  padding: 10px;
  color: #269577;
}

.sales-table td:nth-child(2),
.sales-table td:nth-child(4),
.sales-table td:nth-child(3) {
  text-align: right;
}

.sales-table-header th:nth-child(2),
.sales-table-header th:nth-child(4),
.sales-table-header th:nth-child(3) {
  text-align: right;
}

.sales-table-header th:nth-child(1) {
  text-align: left;
}

.parent-row {
  font-weight: bold;
  cursor: pointer;
  background-color: #f0f0f0;
}

.child-row {
  background-color: #f0f0f0;
}

.product-name-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.icon.open {
  transform: rotate(90deg);
}

.icon.closed {
  transform: rotate(0deg);
}

.sync-button {
  cursor: pointer;
  color: white;
  background-color: #269577;
  margin-left: 30rem;
  margin-top: 1rem;
  border-radius: 4px;
  font-weight: 600;
  width: 10rem;
  height: 2rem;
  outline: none;
  border: none;
}
