.homepage-background {
  background-image: url("../../assets/Backgrounds/slideshow4.jpg");
  background-size: cover;
  background-position: center;
}

.homepage-container {
  height: 56rem;
  margin-top: -2rem;
}

.homepage-content {
  margin-left: 35rem;
}

.homepage-header {
  font-size: 3rem;
  color: #269577;
  padding-top: 5rem;
}

.homepage-paragraph {
  color: #269577;
  width: 60rem;
  font-size: 1.4rem;
}

.product-view-button {
  cursor: pointer;
  margin-right: 2rem;
  font-weight: 600;
  color: white;
  background-color: #269577;
  border: none;
  border-radius: 4px;
  height: 2rem;
  width: 10rem;
}

.sales-view-button {
  cursor: pointer;
  color: white;
  font-weight: 600;
  background-color: #269577;
  border: none;
  border-radius: 4px;
  height: 2rem;
  width: 10rem;
}
